/* Reset code and common code starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: 0;
  font-weight: 400;
}
html {
  background-color: #fafafa;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fff;
  margin: auto;
}

/* Header Start */
header {
  background-color: #1e2a2c;
}
.navbar {
  padding: 10px 5%;
  background-color: rgb(44, 44, 44);
  min-height: 15vh;
}
.navbar-icon {
  color: white;
  background-color: transparent;
}
.navbar-brand img {
  height: 60px;
}
.nav-link {
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  transition: 0.4s;
}
.nav-link:hover {
  background-color: #2980b9;
  color: white;
  transform: scale(1.05);
}

.banner-container {
  min-height: 85vh;
}
.banner-contents h1 {
  font-size: 56px;
  background-color: rgba(7, 101, 189, 0.8);
  padding: 10px 20px;
  font-family: "Handlee", cursive;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .nav-link {
    background-color: #00000050;
    padding: 0 auto;
    padding-left: 15px;
    margin: 1px 0;
  }
  .banner-contents h1 {
    font-size: 40px;
    padding: 5px 10px;
  }
}
/* Header End */

/* Main Starts */
.title-button {
  position: relative;
}
.title-button_icons {
  position: absolute;
  right: 12px;
}
main {
  background-color: rgb(192, 192, 192);
}
.card {
  border: 2px solid gray;
  box-shadow: 2px 5px 5px rgba(100, 100, 100, 0.651);
}
.card hr {
  border: 2px solid black;
}
.card-img iframe {
  height: 320px;
}
.fa-arrow-up-right-from-square {
  position: absolute;
  font-size: 12px;
  padding: 2px;
  bottom: 23px;
}
/* Main Starts */

/* Contact Starts */
.contact {
  background-color: #5d52b9c5;
  padding: 1% 5%;
}
.btn-container {
  padding: 1% 5%;
}
.contact textarea {
  max-height: 250px;
}
/* Contact ends */

/* Footer starts */
footer {
  padding: 1% 5%;
  background-color: rgb(44, 44, 44);
  color: white;
}
/* Footer ends */
